{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="team", lang=lang )}}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">

    <h1>{{ team.nameEnglish }}</h1>
    <p>{{ team.descriptionEnglish }}</p>

    <hr>

    <h3>Details</h3>
    <li>Organization: <a href="/{{lang}}/organization/{{ team.organization.id }}">{{ team.organization.nameEn }}</a></li>
    <li>Organization Level: <a href="/{{lang}}/org_tier/{{ team.organizationLevel.id }}">{{ team.organizationLevel.nameEn}}</a></li>
    <li>Owner: <a href="/{{lang}}/person/{{team.owner.id}}">{{ team.owner.givenName }} {{ team.owner.familyName }}</a></li>
    <li>Owner email: {{ team.owner.email }}</li>

    <hr>

    <h3>Occupied Roles</h3>
    {% for role in team.occupiedRoles %}
        <li>
            <a href="/{{lang}}/role/{{ role.id }}">{{ role.titleEnglish}} ({{ role.militaryOccupation }}-{{ role.rank}})</a>
            <a href="/{{lang}}/person/{{role.person.id}}">{{ role.person.givenName }} {{ role.person.familyName }}</a>
        </li>
    {% endfor %}

    <hr>
    <h3>Vacant Roles</h3>
    {% for role in team.vacantRoles %}
        <li><a href="/{{lang}}/role/{{ role.id }}">{{ role.titleEnglish}}</a></li>
    {% endfor %}

    <hr>

    <h3>Tasks</h3>
    <p>Under Construction</p>

</div>



{% endblock content %}