<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Intersectional Data Survey & Analysis MVP">
    <meta name="author" content="ToferC">
    <meta property="og:title" content="Intersectional Data Survey & Analysis MVP">
</head>
<body>

    <div class="card card-body">
        <P>{{ fluent(key="hello", lang=lang )}}</P>
        
        <p>{{ fluent(key="password-reset-received", lang=lang )}}</p>

        <p>{{ fluent(key="if-you-instructions", lang=lang )}}</p>

        <div class="card-body">
            <h2><a href="{{ application_url }}/{{ lang }}/password_reset/{{ token }}">{{ application_url }}/{{ lang }}/password_reset/{{ token }}</a></h2>

        </div>

        <p>{{ fluent(key="time-limit", lang=lang )}} <a href="https://www.intersectional-data.ca/{{ lang }}/log_in">{{ fluent(key="request-another-code", lang=lang )}}</a> {{ fluent(key="from-login-screen", lang=lang )}}</p>

        <p>{{ fluent(key="thank-you", lang=lang )}}</p>

        <p>{{ fluent(key="user-support-signature", lang=lang )}}</p>
    </div>
</body>
</html>