{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="org_tier", lang=lang )}}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">

    <h1>{{ org_tier.nameEn }}</h1>
    <li>Tier Level: {{ org_tier.tierLevel }}</li>
    <li>Primary Domain: {{ org_tier.primaryDomain }}</li>
    {% if org_tier.parentOrganizationTier %}
        <li>Parent Organization Tier: <a href="/{{ lang }}/org_tier/{{ org_tier.parentOrganizationTier.id }}">{{ org_tier.parentOrganizationTier.nameEn }}</a></li>
    {% else %}
        <li>Parent Organization Tier: None</li>
    {% endif %}
    <li>Owner: <a href="/{{lang}}/person/{{org_tier.owner.id}}">{{ org_tier.owner.givenName }} {{ org_tier.owner.familyName }}</a></li>
    <li>Owner email: {{ org_tier.owner.email }}</li>

    <hr>
    <h3>Child Organization Tiers</h3>
    {% for child in org_tier.childOrganizationTier %}
        <li><a href="/{{lang}}/org_tier/{{child.id}}">{{ child.nameEn }}</a>
    {% endfor %}

    <hr>

    <h3>Teams</h3>
    {% for team in org_tier.teams %}
        <li><a href="/{{lang}}/team/{{team.id}}">{{ team.nameEnglish }}</a>
        <small>Owner: <a href="/{{lang}}/person/{{team.owner.id}}">{{ team.owner.givenName }} {{ team.owner.familyName }}</a></small></li>
        <hr>
    {% endfor %}

    <hr>

</div>



{% endblock content %}