{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="change-password-title", useremail=user.email, lang=lang )}}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>{{ fluent(key="change-password-title", useremail=user.email, lang=lang )}}</h1>
        <p>{{ fluent(key="enter-new-password-below", lang=lang )}}</p>


        <form name="PasswordForm" id="passwordForm" action=/{{ lang }}/password_reset/{{ token }} method=POST>
        
        <label>
            <strong>{{ fluent(key="new-password", lang=lang )}}</strong>
            <input 
                class="form-control" 
                type="password" 
                name="password" 
                placeholder="{{ fluent(key="password-placeholder", lang=lang )}}"
                minlength=12
                required
            >
            <small id="code_help" class="form-text text-muted">{{ fluent(key="password-helper", lang=lang )}}</small>
        </label>
        <br>
        <br>

        <button 
            class="btn g-recaptcha btn-dark" 
            data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
            data-callback='onSubmit' 
            data-action='submit'
            type=submit
            >{{ fluent(key="update-password", lang=lang )}}</button>
    </form>
                
    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("passwordForm").submit();
   };

</script>
{% endblock scripts %}