{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="person-by-name", lang=lang )}}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">

    <h1>People</h1>
    
        {% for person in people %}
            <h2><a href="/{{lang}}/person/{{person.id}}">{{ person.givenName }} {{ person.familyName }}</a></h2>
            <br>
            <h3>Roles</h3>
            {% for role in person.activeRoles %}
                <li><strong>{{ role.titleEnglish }}</strong> - {{ role.militaryOccupation }}-{{ role.rank }}</li>
            {% endfor %}
            <br>
            <h3>Capabilities</h3>
            {% for cap in person.capabilities %}
                <li>{{ cap.nameEn }} ({{ cap.domain }}) - {{ cap.validatedLevel }}</li>
            {% endfor %}
            <hr>
        {% endfor %}
</div>



{% endblock content %}