{% extends "base.html" %}

{% block content %}
        <div class="col m-md-2 m-1">
            <h1>{{ fluent(key="welcome-to", lang=lang) }}</h1>

            <h2>Organizations</h2>

            {% for organization in organizations %}
                <li><a href="/{{ lang }}/organization/{{ organization.id }}">{{ organization.nameEn }}</a></li>
            {% endfor %}

            <hr>
            <h3>Search person by name: </h3>
                <input id="personSearchbar" class="form-control" type="text" placeholder="Enter name here" aria-label="Search Person">
                <button class="btn btn-dark" id="peopleSearch">Search</button>

            <hr>
            <h3>Search Capability</h3>
                <div class="input-group">

                    <input id="capabilityName" class="form-control" type="text" placeholder="Enter name here" aria-label="Capability Name">
    
                    <select class="custom-select" id="levelSelect">
                        <option selected>Choose Level</option>
                        <option value="DESIRED">Desired</option>
                        <option value="NOVICE">Novice</option>
                        <option value="EXPERIENCED">Experienced</option>
                        <option value="EXPERT">Expert</option>
                        <option value="SPECIALIST">Specialist</option>
                    </select>
                    
                    <button class="btn btn-dark" 
                        id="capabilitySearchButton">Submit
                    </button>
                </div>
                
        </div>
{% endblock content %}

{% block scripts %}
<script>
    document.getElementById("peopleSearch").addEventListener("click", peopleSearch);

    function peopleSearch() {  
        var result = document.getElementById("personSearchbar").value;  
        window.location.href = '/{{ lang }}/person_by_name/'+result;
    };

    document.getElementById("capabilitySearchButton").addEventListener("click", capabilitySearch);

    function capabilitySearch() {  
        var capabilityName = document.getElementById("capabilityName").value;
        var capabilityLevel = document.getElementById("levelSelect").value;

        window.location.href = "/{{ lang }}/capability_search/"+capabilityName+"/"+capabilityLevel;
    };

</script>


{% endblock scripts%}